/*
 * Base structure
 */

 /* Base font size to use throughout the whole site. */
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

body, html {
    width: 100%;
    height: 100%;
}

.navbar-custom {
  background-color: #000;
  font: 2rem/1.25 'BioRhyme', Georgia, serif;
}

.navbar.container {
  color: #FFF;
}

/*Not currently used
.navbar-brand {
  padding: 0;
}*/

.video-section span {
  font-size: 1.5rem;
  color: #000;
  background-color: #FFF;
  position: fixed;
  top: 10px;
  left: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Navbar image and personal information */

img {
  width: 36px;
  margin-right: 15px;
  border-radius: 50%;
}

p {
  color: #9D9D9D;
  font: 1.5rem/1.25 'BioRhyme', Georgia, serif;
  margin: 8px 0 10px;
}

p span {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: -1px;
}

.page-scroll {
  color: #FFF;
  font-size: 1.5rem;
}

/* Scroll To Sections
 *
 */

.video-section,
.intro-section,
.about-section,
.portfolio-section,
.contact-section {
  height: 100%;
}

.intro-section {
  padding-top: 150px;
  background: #FFF;
}

.about-section {
  padding-top: 150px;
  background: #EEE;
}

.portfolio-section {
  padding-top: 150px;
  background: #FFF;
}

.contact-section {
  padding-top: 150px;
  background: #EEE;
}



/*
 * Video Background
 */

 #bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: transparent url(../images/Love-Coding.jpg) no-repeat;
  background-size: cover;
}

h1.video-text {
  position: relative;
  top: 25%;
  color: #FFF;
  font: 4rem/1.25 'Chonburi', cursive;
}

h4.video-text {
  position: relative;
  top: 25%;
  color: #FFF;
  font: 1.5rem/1.25 'Chonburi', cursive;
}

a.video-text {
  border-radius: 300px;
  background-color: green;
  color: #FFF;
  border: none;
  font-size: 1.5rem;
  margin-top: 65%;
}

#to-top {
  /*display: none;*/
  position: fixed;
  bottom: 5px;
  right: 5px;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #FFF;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #FFF;
    background-color: rgba(0,0,0,0.7);
}

button.navbar-toggle {
  border: 1px solid #FFF;
  color: #FFF;
  font-size: small;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 7px 16px;
  border-radius: 100%;
}

.fa-angle-double-down {
  font-size: 3rem;
}

/*@media screen and (max-device-width: 800px) {*/
@media(max-width: 800px) {

  #video {
    background: url(../images/Love-Coding.jpg) #000 no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }
}


/*
 * Media Queries
 */

@media(min-width: 319px) {
  .navbar-brand img {
    margin-left: 20%;
  }

  h1.video-text {
    font: 3rem/1.25 'Chonburi', cursive;
  }

  a.video-text {
    margin-top: 60%;
  }
}

@media(min-width: 479px) {
  h1.video-text {
    top: 30%;
    font: 4rem/1.25 'Chonburi', cursive;
  }

  h4.video-text {
    position: relative;
    top: 30%;
    color: #FFF;
    font: 1.5rem/1.25 'Chonburi', cursive;
  }

  a.video-text {
    margin-top: 50%;
  }

  .btn-circle {
    width: 60px;
    height: 60px;
  }

  .fa-angle-double-down {
    font-size: 4.5rem;
  }
}


@media(min-width: 767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  nav.top-nav-collapse {
    padding: 0 0 10px 0;
  }

  img {
    width: 48px;
  }

  h1.video-text {
    top: 30%;
    font: 6rem/1.25 'Chonburi', cursive;
  }

  h4.video-text {
    position: relative;
    top: 30%;
    color: #FFF;
    font: 2rem/1.25 'Chonburi', cursive;
  }

  a.video-text {
    margin-top: 35%;
  }

  .btn-circle {
    width: 70px;
    height: 70px;
  }

  .fa-angle-double-down {
    font-size: 6rem;
  }

  .page-scroll {
    color: #FFF;
    font-size: 2rem;
  }
 }


 @media(min-width: 991px) {
   h1.video-text {
     top: 30%;
     font: 8rem/1.25 'Chonburi', cursive;
   }

   h4.video-text {
     position: relative;
     top: 30%;
     font: 2.5rem/1.25 'Chonburi', cursive;
   }

   a.video-text {
     margin-top: 25%;
   }
 }

/*
 * Sidebar Navigation
 */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 5px;
  text-decoration: none;
  display: block;
  transition: 0.3s
}

.sidenav a:hover {
  color: #000;
  background-color: #FFF;
}

.sidenav a.active {
  color: #000;
  background-color: #FFF;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3rem;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 1.8rem;
  }
}
