<!DOCTYPE html>

<div class="row text-center">
  <img class="about-img" src="../images/park_img.jpg" alt="Juan A Cortes">
  <h1>I'm Juan A Cortes</h1>
  <h3>Full-stack Development Student</h3>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h4>Software skills I have:</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark"></i>
      <i class="devicon-postgresql-plain-wordmark"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-jquery-plain-wordmark"></i>
      <i class="devicon-mongodb-plain-wordmark"></i>
      <i class="devicon-angularjs-plain-wordmark"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-github-plain-wordmark"></i>
      <i class="devicon-trello-plain-wordmark"></i>
      <i class="devicon-wordpress-plain-wordmark"></i>
    </div>
    <div class="col-md-6">
      <h4 class="other-skills">Other skills I have:</h4>
      <ul class="text-left">
        <li>Business Analysis</li>
        <li>Project Management</li>
        <li>Business Strategy</li>
        <li>Change Management</li>
        <li>Management Consulting</li>
        <li>Business Process Improvement</li>
        <li>Requirements Gathering and Analysis</li>
        <li>Training Design, Development and Delivery</li>
      </ul>
    </div>
  </div>

</div>
