<!DOCTYPE html>
<div class="row">
  <div class="col-sm-12">
    <button ui-sref="other" class="btn btn-primary" type="button" name="button">Go Back to Other Page</button>
  </div>
</div>

<div class="row other-information">
  <div class="col-md-6 col-md-push-6">
    <h1 class="text-center">Building Websites 101</h1>
    <h4 class="text-center">More Information @ <a href="https://www.steppingblocks.com/event/latintechatl-technology-workshop-series" target="_blank"> https://www.steppingblocks.com/event/latintechatl-technology-workshop-series</a></h4>
    <hr>
    <h3>Description: <small>Taught Building Websites 101 workshop targeted to students, professionals and entrepreneurs with little or no experience on creating a website. The goal of the workshop was to demystify the perceived complexity of creating a web presence and show the simplicity and low cost opportunity of creating this online presence.</small></h3>
    <h3>Workshop Date: <small>December 10, 2016 @ 1:00pm</small></h3>
    <h3>Location: <small>Atlanta Tech Village (Speakeasy Room) - 3423 Piedmont Road NE, Atlanta GA 30305</small></h3>
    <h3>Video Link: <small><a href="https://www.facebook.com/Latintechatl/videos/735230416624305/" target="_blank">https://www.facebook.com/Latintechatl/videos/735230416624305/</a></small></h3>
  </div>

  <hr>
  <div class="col-md-6 col-md-pull-6">
    <h4>Invitation Page</h4>
    <img class="big-image" ng-src="../public/images/building_websites_screenshot1.png" alt="Account's Page">
    <h4>Workshop Sponsors</h4>
    <img class="big-image" ng-src="../public/images/building_websites_screenshot2.png" alt="Accounts List">
  </div>

</div>
