<!DOCTYPE html>

<div class="row text-center">
  <h3>Let's Talk / Learn More</h3>
  <br>
  <div class="row">

    <div class="col-md-12">

      <div class="col-md-6 contact">
        <div class="">
          Email
        </div>
        <a href="mailto:juan.cortes@gmail.com"><i class="fa fa-envelope fa-5x contact-icon" aria-hidden="true"></i></a>
      </div>

      <div class="col-md-6 contact">
        <div class="">
          Resume
        </div>
        <a href="public/Juan A  Cortes - Resume_Jan2017.pdf" target="_blank">
          <i class="fa fa-file-pdf-o fa-5x contact-icon" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-md-6 contact">
        <div class="">
          LinkedIn
        </div>
        <a href="https://www.linkedin.com/in/juancortes" target="_blank">
          <i class="fa fa-linkedin-square fa-5x contact-icon" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-md-6 contact">
        <div class="">
          GitHub
        </div>
        <a href="https://github.com/jcortes0309" target="_blank">
          <i class="fa fa-github fa-5x contact-icon" aria-hidden="true"></i>
        </a>
      </div>
    </div>

  </div>
</div>
