<!DOCTYPE html>
<div class="row">
  <div class="col-sm-12">
    <button ui-sref="portfolio" class="btn btn-primary" type="button" name="button">Go Back to Portfolio</button>
  </div>
</div>

<div class="row big-project">
  <div class="col-md-6 col-md-push-6">
    <h1 class="text-center">GetCohort</h1>
    <h4 class="text-center">Live Project @ <a href="http://54.148.11.254" target="_blank"> http://54.148.11.254</a></h4>
    <hr>
    <h3>Description: <small>GetCohort is a website designed to comprehensively showcase all of the skills and projects that members of a cohort have accomplished. By utilizing an easy-to-navigate layout that offers distinct functionality based on the type of user viewing the site, GetCohort provides a unique perspective on a cohort and the people that comprise it, from students to instructors and everyone in-between.</small></h3>
    <h3>Technologies Used:</h3>
    <h4>Languages:</h4>
    <ul class="grey-font">
      <li>HTML5</li>
      <li>CSS</li>
    </ul>
    <h4>Frameworks:</h4>
    <ul class="grey-font">
      <li>Flask</li>
      <li>Bootstrap</li>
    </ul>
    <h4>Other:</h4>
    <ul class="grey-font">
      <li>PostgreSQL</li>
      <li>Amazon Web Services EC2</li>
    </ul>
  </div>

  <hr>
  <div class="col-md-6 col-md-pull-6">
    <h4>Student's Profile Page</h4>
    <img class="big-image" ng-src="../public/images/GetCohort_screenshot1.png" alt="Student's Profile Page">
    <h4>Main Page</h4>
    <img class="big-image" ng-src="../public/images/GetCohort_screenshot2.png" alt="Main Page">
    <h4>Project's Profile Page</h4>
    <img class="big-image" ng-src="../public/images/GetCohort_screenshot3.png" alt="Project's Profile Page">
  </div>

</div>
