<!DOCTYPE html>

<div class="row big-project">
  <div class="col-md-6 col-md-push-6">
    <h1 class="text-center">mYelp</h1>
    <h4 class="text-center">Live Project @ <a href="http://www.myelp.club" target="_blank"> http://www.myelp.club</a></h4>
    <hr>
    <h3>Description: <small>mYelp is a personal map application that can keep track of where a user has been and where they want to go. The app calls on the Google Maps API to allow the user to search for a place, see more details about it, save it to a wishlist, review it, and review their own map featuring color-coded markers identifying the places they've saved or reviewed.</small></h3>
    <h3>Technologies Used:</h3>
    <h4>Languages:</h4>
    <ul class="grey-font">
      <li>Python (including the following modules: PyGreSQL, datetime, os, dotenv)</li>
      <li>HTML5</li>
      <li>CSS</li>
      <li>JavaScript/jQuery</li>
    </ul>
    <h4>Frameworks:</h4>
    <ul class="grey-font">
      <li>AngularJS 1.5.8 (including the following services: ui-router, ngCookies)</li>
      <li>Bootstrap</li>
    </ul>
    <h4>Frameworks:</h4>
    <ul class="grey-font">
      <li>AngularJS 1.5.8 (including the following services: ui-router, ngCookies)</li>
      <li>Bootstrap</li>
    </ul>
    <h4>Other:</h4>
    <ul class="grey-font">
      <li>PostgreSQL</li>
      <li>Amazon Web Services EC2</li>
      <li>Apache</li>
      <li>Logo icon from The Noun Project
      Icon made by Chanut is Industries -- https://thenounproject.com/chanut-is/</li>
    </ul>
  </div>

  <hr>
  <div class="col-md-6 col-md-pull-6">
    <h4>Main Page</h4>
    <img class="big-image" ng-src="images/mYelp_screenshot1.png" alt="Student's Profile Page">
    <h4>Main Page</h4>
    <img class="big-image" ng-src="images/GetCohort_screenshot2.png" alt="Main Page">
    <h4>Project's Profile Page</h4>
    <img class="big-image" ng-src="images/GetCohort_screenshot3.png" alt="Project's Profile Page">
  </div>

</div>
