<!DOCTYPE html>
<!-- <div class="row">
  <div class="col-sm-12">
    <button ui-sref="portfolio" class="btn btn-primary" type="button" name="button">Go Back to Portfolio</button>
  </div>
</div> -->

<div class="row other-information">
  <div class="col-md-12">
    <h1 class="text-center">MyCRM</h1>
    <h4 class="text-center">Live Project @ <a href="http://54.148.11.254:3000" target="_blank"> http://54.148.11.254:3000</a></h4>
    <hr>
    <h3>Description: <small>MyCRM is an application that allows you to enter, see and evaluate all your company relationships in one place regardless of the relationship type.  Accounts, contacts, calls or meetings information can be easily accessed using your preferred device.</small></h3>
    <h3>Technologies Used:</h3>
    <h4>Languages:</h4>
    <ul class="grey-font">
      <li>HTML5</li>
      <li>CSS</li>
      <li>JavaScript (MEAN Stack)</li>
    </ul>
    <h4>Frameworks:</h4>
    <ul class="grey-font">
      <li>AngularJS 1.6.1 (including the following service: ui-router)</li>
      <li>Bootstrap</li>
    </ul>
    <h4>Other:</h4>
    <ul class="grey-font">
      <li>MongoDB</li>
      <li>Express JS</li>
      <li>Node JS</li>
      <li>Amazon Web Services EC2</li>
    </ul>
  </div>

  <hr>
  <div class="col-md-12">
    <h4>Account's Page</h4>
    <img class="big-image" ng-src="../public/images/MyCRM_screenshot1.png" alt="Account's Page">
    <h4>Accounts List</h4>
    <img class="big-image" ng-src="../public/images/MyCRM_screenshot2.png" alt="Accounts List">
    <h4>Calls List</h4>
    <img class="big-image" ng-src="../public/images/MyCRM_screenshot3.png" alt="Calls List">
  </div>

</div>
