<!DOCTYPE html>

<div class="row portfolio">
  <div class="project">
    <div class="thumbnail">
      <img ng-src="../public/images/building_websites_screenshot1.png">
      <div class="caption">
        <h3>Building Websites 101</h3>
        <p>Taught Building Websites 101 workshop targeted to students, professionals and entrepreneurs with little or no experience on creating a website</p>
        <div class="project-info">
          <a ui-sref="building_websites" class="btn btn-success" role="button">Learn More</a>
          <a href="https://www.steppingblocks.com/event/latintechatl-technology-workshop-series" target="_blank" class="btn btn-primary" role="button">Workshop Page</a>
          <a href="https://www.facebook.com/Latintechatl/videos/735230416624305/" target="_blank" class="btn btn-default" role="button">Video Page</a>
        </div>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="thumbnail">
      <img class="project-image" ng-src="../public/images/orzalaw_screenshot1.png" alt="mYelp screenshot1">
      <div class="caption">
        <h3>Orza Global Immigration Website</h3>
        <p>Designed and developed the Orza Global Immigration website using WordPress</p>
        <div class="project-info">
          <a href="http://www.orzalaw.com" target="_blank" class="btn btn-primary" role="button">Live Page</a>
        </div>
      </div>
    </div>
  </div>

</div>
