<!DOCTYPE html>

<div class="row portfolio">
  <div class="project">
    <div class="thumbnail">
      <img ng-src="images/MyCRM_screenshot1.png" alt="MyCRM screenshot1">
      <div class="caption">
        <h3>MyCRM</h3>
        <p>MyCRM is an application that allows you to enter, see and evaluate all your company relationships in one place regardless of the relationship type</p>
        <div class="project-info">
          <a class="btn btn-success" role="button">Learn More</a>
          <a href="http://54.148.11.254:3000/" target="_blank" class="btn btn-primary" role="button">Live Demo</a>
          <a href="https://github.com/jcortes0309/mongo_crm" target="_blank" class="btn btn-default" role="button">GitHub</a>
        </div>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="thumbnail">
      <img class="project-image" ng-src="images/mYelp_screenshot1.png" alt="mYelp screenshot1">
      <div class="caption">
        <h3>mYelp</h3>
        <p>mYelp is a personal map application that can keep track of where a user has been and where they want to go. The app uses the Google Maps API</p>
        <div class="project-info">
          <a target="_blank" class="btn btn-success" role="button">Learn More</a>
          <a href="http://myelp.club/#/" target="_blank" class="btn btn-primary" role="button">Live Demo</a>
          <a href="https://github.com/DigitalCrafts-September-2016-Cohort/team_dom_ready" target="_blank" class="btn btn-default" role="button">GitHub</a>
        </div>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="thumbnail">
      <img class="project-image" ng-src="images/GetCohort_screenshot1.png" alt="GetCohort screenshot1">
      <div class="caption">
        <h3>GetCohort</h3>
        <p>GetCohort is a website designed to comprehensively showcase all of the skills and projects that members of a bootcamp cohort have accomplished</p>
        <div class="project-info">
          <a ui-sref="get_cohort" class="btn btn-success" role="button">Learn More</a>
          <a href="http://54.148.11.254/" target="_blank" class="btn btn-primary" role="button">Live Demo</a>
          <a href="https://github.com/DigitalCrafts-September-2016-Cohort/GetCohort" target="_blank" class="btn btn-default" role="button">GitHub</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="project">
    <div class="thumbnail">
      <img ng-src="" alt="">
      <div class="caption">
        <h3>GetCohort</h3>
        <p>GetCohort is a website designed to comprehensively showcase all of the skills and projects that members of a cohort have accomplished</p>
        <div class="project-info">
          <a class="btn btn-success" role="button">Learn More</a>
          <a href="#" class="btn btn-primary" role="button">Live Demo</a>
          <a href="#" class="btn btn-default" role="button">GitHub</a>
        </div>
      </div>
    </div>
  </div> -->
</div>
